<!DOCTYPE html>
<html>
  <head>
    <title>Buzzword Bingo</title>
    <script type="text/javascript" src="https://assets.orcasnet.com/javascripts/orcasnet_libraries_1.1.js"></script>
    <script type="text/javascript">
      var dkColor;
      var ltColor;
      var hasBingo = false;
      $(document).ready(function() {
        $.each($('td'), function(i, td) { td.onclick = function() { doClick(this); }; });
        $.each($('.btn'), function(i, btn) {
          btn.onclick = function() { doColor(this); };
          btn.style.color = '#'+btn.classList[1];
          btn.style.backgroundColor = '#'+btn.classList[2];
          btn.style.textcolor = '#'+btn.classList[1];
        });
        doColor($('.btn[value="gray"]')[0]);
      });
      function doClick(td) {
        if (td.id == 'free-space') return false;
        var cl = td.className.split(' ');
        cl[0] = (td.classList[0] == 'uncovered') ? 'covered' : 'uncovered';
        td.className = cl.join(' ');
        td.style.backgroundColor = td.classList[0] == 'covered' ? dkColor : ltColor;
        setTimeout('doCheckBingo()',20);
      }
      function doCheckBingo() {
        var numCovered = 0;
        $.each($('td'), function(i, td) { numCovered += td.classList[0] == 'covered' ? 1 : 0 });
        if (numCovered >= 25 ) {
          custom_alert('Blackout Bingo!');
          return;
        }
        if (numCovered <= 1) {
          hasBingo = false;
        }
        if (hasBingo) return;
        for (row = 1; row <= 5; row++) {
          numCovered = 0;
          $.each($('td.r'+row), function(i, td) { numCovered += td.classList[0] == 'covered' ? 1 : 0 });
          if (numCovered >= 5 ) {
            hasBingo = true;
            custom_alert('Row ' + row + ' Bingo!');
            return;
          }
        }
        for (col = 1; col <= 5; col++) {
          numCovered = 0;
          $.each($('td.c'+col), function(i, td) { numCovered += td.classList[0] == 'covered' ? 1 : 0 });
          if (numCovered >= 5 ) {
            hasBingo = true;
            custom_alert('Column ' + col + ' Bingo!');
            return;
          }
        }
        for (diag = 1; diag <= 5; diag++) {
          numCovered = 0;
          $.each($('td.d'+diag), function(i, td) { numCovered += td.classList[0] == 'covered' ? 1 : 0 });
          if (numCovered >= 5 ) {
            hasBingo = true;
            custom_alert('Diagonal ' + diag + ' Bingo!');
            return;
          }
        }
      }
      function doColor(btn) {
        if (!btn) return false;
        dkColor = '#' + btn.classList[1];
        ltColor = '#' + btn.classList[2];
        $.each($('th'), function(i, th) { th.style.backgroundColor = dkColor; });
        $.each($('td'), function(i, td) { td.style.backgroundColor = td.classList[0] == 'covered' ? dkColor : ltColor; });
      }
      function custom_alert(str) {
        alert('testing... '+ str);
      }
    </script>
    <style>td { font-size: 14pt; line-height: 150%; }</style>
  </head>
  <body>
    <table>
      <tr>
        <th>B</th><th>I</th><th>N</th><th>G</th><th>O</th>
      </tr>
      <tr>
        <td class="uncovered r1 c1 d1"><%= @word1 %></td>
        <td class="uncovered r1 c2"   ><%= @word2 %></td>
        <td class="uncovered r1 c3"   ><%= @word3 %></td>
        <td class="uncovered r1 c4"   ><%= @word4 %></td>
        <td class="uncovered r1 c5 d2"><%= @word5 %></td>
      </tr>
      <tr>
        <td class="uncovered r2 c1"   ><%= @word6 %></td>
        <td class="uncovered r2 c2 d1"><%= @word7 %></td>
        <td class="uncovered r2 c3"   ><%= @word8 %></td>
        <td class="uncovered r2 c4 d2"><%= @word9 %></td>
        <td class="uncovered r2 c5"   ><%= @word10 %></td>
      </tr>
      <tr>
        <td class="uncovered r3 c1"   ><%= @word11 %></td>
        <td class="uncovered r3 c2"   ><%= @word12 %></td>
        <td class="covered r3 c3 d1 d2" id="free-space">FREE<br>SPACE</td>
        <td class="uncovered r3 c4"   ><%= @word13 %></td>
        <td class="uncovered r3 c5"   ><%= @word14 %></td>
      </tr>
      <tr>
        <td class="uncovered r4 c1"   ><%= @word15 %></td>
        <td class="uncovered r4 c2 d2"><%= @word16 %></td>
        <td class="uncovered r4 c3"   ><%= @word17 %></td>
        <td class="uncovered r4 c4 d1"><%= @word18 %></td>
        <td class="uncovered r4 c5"   ><%= @word19 %></td>
      </tr>
      <tr>
        <td class="uncovered r5 c1 d2"><%= @word20 %></td>
        <td class="uncovered r5 c2"   ><%= @word21 %></td>
        <td class="uncovered r5 c3"   ><%= @word22 %></td>
        <td class="uncovered r5 c4"   ><%= @word23 %></td>
        <td class="uncovered r5 c5 d1"><%= @word24 %></td>
      </tr>
    </table>
    <div>
      <input type="button" class="btn c060a0 ffc0e0" value="violet">
      <input type="button" class="btn a060c0 f0c0ff" value="indigo">
      <input type="button" class="btn 6080c0 c0e0ff" value="blue">
      <input type="button" class="btn 608060 e0ffe0" value="green">
      <input type="button" class="btn a09040 ffffa0" value="yellow">
      <input type="button" class="btn c08040 ffe0a0" value="orange">
      <input type="button" class="btn c04060 ffc0d0" value="red">
      <input type="button" class="btn 808080 e0e0e0" value="gray">
    </div>
  </body>
</html>
